a:hover{
  text-decoration:none;
}
p{
  font-family:revert;
  font-size:18px;
  line-height:28px
}
h1{
  font-family:revert;
  line-height:55px;
  font-size:42px
}
h2,h3{
  font-family:revert;
  line-height:42px;
  font-size:32px
}
.container{
  max-width:1170px
}
.tekrevol-slider{
  height:810px;
  position:relative
}
.tekrevol-slider h1{
  color:#fff;
  text-transform:capitalize
}
.tekrevol-slider .banner-tit{
  font-family:revert;
  line-height:55px;
  font-size:42px;
  color:#fff;
  text-transform:capitalize
}
.tekrevol-slider p{
  color:#fff;
  margin:20px 0
}
.tekrevol-slider .slick-list,.tekrevol-slider .slick-track{
  height:100%
}
.img--projects{
  text-align:center;
  position:relative
}
.tekrevol-slider .slide1{
  background:#0d1326;
  background:linear-gradient(135deg,#0d1326 0,#b92a1a 100%);
  height:100%;
  outline:0
}
.tekrevol-slider .slide5{
  background:#0d1326;
  background:linear-gradient(135deg,#0d1326 0,#b92a1a 100%);
  height:100%;
  outline:0
}
.slide5 p.dubai_text{
  font-size:20px;
  text-transform:uppercase;
  font-family:revert;
  margin-bottom:10px
}
.slide5 .event_date h2{
  text-transform:uppercase;
  font-size:34px;
  line-height:39px;
  color:#fff;
  margin-bottom:30px;
  border-top:2px solid #f37a20;
  border-bottom:2px solid #f37a20;
  display:inline-block
}
.slide5 .gitex_logo{
  margin-bottom:20px
}
.tekrevol-slider .slide2{
  background:#121216;
  background:linear-gradient(145deg,#121216 0,#6d2821 100%);
  height:100%;
  outline:0
}
.tekrevol-slider .slide3{
  background:#121216;
  background:linear-gradient(145deg,#121216 0,#6d2821 100%);
  height:100%;
  outline:0
}
.tekrevol-slider .slide4{
  background-image:url(../../images-new/banner-4_light.png),linear-gradient(135deg,#0d1326 20%,#b92a1a 100%);
  height:100%;
  outline:0;
  background-size:cover;
  background-position:70% 100%
}
.tekrevol-slider .slide4:hover{
  background-image:url(../../images-new/banner-4.png),linear-gradient(135deg,#0d1326 20%,#b92a1a 100%);
  transition:all .5s ease
}
.slide4 .lite1{
  background:url(../../images-new/light_1.png);
  width:67px;
  height:67px;
  position:absolute;
  top:130px;
  left:-55px
}
.slide4 .lite2{
  background:url(../../images-new/light_2.png);
  width:26px;
  height:73px;
  position:absolute;
  top:160px;
  right:230px
}
.slide4 .lite3{
  background:url(../../images-new/light_3.png);
  width:38px;
  height:49px;
  position:absolute;
  top:70px;
  right:220px
}
.slide4 .lite4{
  background:url(../../images-new/light_1.png);
  width:67px;
  height:67px;
  position:absolute;
  top:430px;
  left:-55px
}
.slide1 .main-slide1{
  background-image:url(../../images-new/slide-images-01.webp);
  width:517px;
  height:710px;
  margin-top:65px;
  position:relative;
  left:60px;
  background-repeat:no-repeat
}
.main-slide1 .box_01{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -107px;
  width:43px;
  height:44px;
  margin-left:-140px;
  margin-top:140px
}
.main-slide1 .box_02{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -2px;
  width:93px;
  height:84px;
  margin-left:-15px
}
.slide2 .men_fitness{
  background-image:url(../../images-new/slide-images-02.webp);
  width:878px;
  height:647px;
  top:100px;
  left:-200px;
  position:relative;
  display:block;
  transition:all .5s ease;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center
}
.slide2 .main-slide2{
  background-image:url(../../images-new/slide-images-02-back.webp);
  width:480px;
  height:557px;
  margin-top:110px;
  margin-left:0;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center
}
.slide2 .men_fitness:hover{
  margin-left:20px;
  transition:all ease 1.5s;
  margin-top:-10px
}
.slide3{
  position:relative
}
.slide3 .main-slide3{
  width:950px;
  height:970px;
  background-image:url(../../images-new/slide-images-03.webp);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:top right;
  position:absolute;
  right:0
}
.slide3 .star-icons{
  background:url(../../images-new/star-large.webp);
  width:114px;
  height:114px;
  position:absolute;
  top:100px;
  left:5px
}
.tekrevol-btn{
  border:0 solid #ee3824;
  padding:0 35px;
  height:40px;
  line-height:40px;
  font-size:14px;
  letter-spacing:1px;
  text-decoration:none;
  color:#fff!important;
  font-weight:500;
  text-transform:uppercase;
  font-family:revert;
  transition:linear .3s;
  background:#ffa20a;
  background:linear-gradient(-90deg,#ffa20a 0,#fd4b0f 100%);
  border-radius:8px;
  display:inline-block
}
.slide3 .tekrevol-btn a:after{
  background:#511c21
}
.slide4{
  position:relative
}
.tekrevol-btn a{
  padding:20px 30px;
  color:#fff;
  text-decoration:none;
  outline:0
}
.tekrevol-btn a:hover:before{
  -webkit-animation:leftArrow .5s;
  animation:leftArrow .5s
}
.tekrevol-slider .slick-dots{
  position:absolute;
  z-index:11;
  bottom:45%;
  margin:0;
  padding:0;
  text-align:center;
  width:10px;
  left:50px
}
.tekrevol-slider ul.slick-dots li{
  list-style:none;
  height:30px
}
.tekrevol-slider ul.slick-dots li.slick-active:before{
  width:22px;
  height:22px;
  border:1px solid #fff;
  border-radius:50%;
  content:"";
  position:absolute;
  margin-left:-11px;
  margin-top:-6px
}
.tekrevol-slider .slick-dots button{
  width:10px;
  border-radius:50%;
  height:10px
}
.tekrevol-slider .slick-dots .slick-active button{
  background:#fff
}
.tekrevol-slider .slick-dots li button{
  font-size:0;
  line-height:0;
  display:block;
  padding:5px;
  cursor:pointer;
  color:transparent;
  border:0;
  outline:0
}
.latest-blog{
  margin-top:-180px
}
.tek-bg{
  background-color:#ee3824;
  padding:15px 20px;
  color:#fff;
  height:180px;
  position:relative
}
.tek-bg1{
  background-color:#282526
}
.tek-bg a{
  color:#fff;
  outline:0;
  text-decoration:none
}
.tek-bg span{
  font-size:12px;
  font-family:revert;
  letter-spacing:2px;
  text-transform:uppercase;
  line-height:30px;
  color:#fff;
  opacity:.5
}
.tek-bg h5{
  margin-top:10px;
  margin-bottom:10px
}
.tek-bg h5 a{
  font-size:18px;
  font-family:revert;
  letter-spacing:1px;
  line-height:22px;
  color:#fff
}
.tek-bg a.download-btn{
  display:inline-block;
  margin-top:10px;
  color:#f16721;
  border:0 solid rgba(255,255,255,.5);
  padding:5px 15px;
  border-radius:5px;
  letter-spacing:.6px;
  font-family:revert;
  font-size:14px;
  background:#fff
}
.tek-bg a.arrow-btn{
  float:right
}
.tek-bg a.arrow-btn:hover img{
  left:10px;
  transition:linear .3s
}
.tek-bg a.arrow-btn img{
  transform:rotate(180deg);
  position:relative;
  left:0;
  transition:linear .3s
}
.tek-journey{
  padding:50px 0;
  background-image:url(../../images-new/bg-image.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:right
}
.tek-journey p{
  color:#282526;
  font-size:17px;
  line-height:29px;
  font-family:revert;
  margin-bottom:20px
}
.tek-journey h2{
  color:#282526;
  margin-bottom:20px
}
.tab-ttitle h3{
  color:#333;
  margin-bottom:60px
}
.home-tab{
  position:relative;
  padding:50px 0;
  background:#fff;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:right
}
.home-tab .tab{
  float:left;
  width:10%
}
.home-tab .tab:before{
  content:"";
  background:rgb(40,37,38,.1);
  width:1px;
  height:280px;
  display:block;
  position:absolute;
  top:-30px;
  left:35px;
  transition:linear .3s
}
.home-tab .tab button{
  display:block;
  background-color:#fff;
  color:#000;
  width:40px;
  border:none;
  outline:0;
  cursor:pointer;
  transition:linear .3s;
  height:40px;
  border-radius:50%;
  text-align:center;
  margin-bottom:50px;
  color:#282526;
  font-size:10px;
  line-height:15px;
  font-family:revert;
  border:1px solid rgb(40,37,38,.1);
  z-index:999;
  position:relative
}
.home-tab .tab button span{
  position:absolute;
  left:-105px;
  color:#282526;
  font-size:12px;
  line-height:15px;
  font-family:revert;
  letter-spacing:.6px;
  text-transform:uppercase;
  transition:linear .3s
}
.home-tab .tab button:hover{
  background:#ffa20a;
  background:linear-gradient(-45deg,#ffa20a 0,#fd4b0f 100%);
  color:#fff;
  transition:linear .3s
}
.home-tab .tab button.active{
  background:#ffa20a;
  background:linear-gradient(-45deg,#ffa20a 0,#fd4b0f 100%);
  color:#fff;
  transition:linear .3s
}
.home-tab .tabcontent{
  float:left;
  padding:0 12px;
  width:90%;
  border-left:none;
  padding:0 0 0 50px
}
.home-tab .tabcontent h3{
  color:#282526;
  margin:0 0 20px
}
.home-tab .tabcontent p{
  color:#282526;
  font-size:18px;
  line-height:29px;
  font-family:revert
}
.home-tab .tabcontent p a,.home-tab .tabcontent p a:hover{
  color:#ee3824;
  padding-left:10px
}
.collapse_wrap{
  display:none
}
.collapse_wrap .accordion{
  margin-top:30px
}
.rotate-icon svg{
  width:12px
}
.collapse_wrap .card-header:not(.collapsed) .rotate-icon{
  transform:rotate(180deg)
}
.collapse_wrap .card{
  border:none;
  background:0 0;
  padding:5px 5px 5px 0;
  border-top:1px solid #d1d1d1;
  border-radius:initial
}
.collapse_wrap .card:last-child{
  border-bottom:1px solid #d1d1d1
}
.collapse_wrap span.title{
  font-size:20px;
  font-family:revert;
  color:#000
}
.collapse_wrap .card-body{
  padding:0;
  margin-top:5px
}
.collapse_wrap .card-body p{
  font-size:15px;
  line-height:22px
}
.collapse_wrap .card-header{
  border-radius:initial!important;
  border:none;
  background:0 0;
  padding:0;
  margin:0;
  cursor:pointer
}
.collapse_wrap span.accicon{
  font-size:17px;
  float:right
}
.img--tab img{
  width:315px;
  position:relative;
  left:-25px;
  top:-20px
}
.tekrevol_img01{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -1046px;
  width:28px;
  height:44px;
  position:absolute;
  left:0;
  top:0;
  transition:linear .3s
}
.tekrevol_img02{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -1131px;
  width:42px;
  height:46px;
  position:absolute;
  left:0;
  top:0;
  transition:linear .3s
}
.tekrevol_img03{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -1218px;
  width:43px;
  height:41px;
  position:absolute;
  left:0;
  top:0;
  transition:linear .3s
}
.tekrevol_img04{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -1302px;
  width:48px;
  height:44px;
  position:absolute;
  left:0;
  top:0;
  transition:linear .3s
}
.tekrevol_img05{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -1380px;
  width:49px;
  height:48px;
  position:absolute;
  left:0;
  top:0;
  transition:linear .3s
}
.tekrevol_img06{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -1469px;
  width:36px;
  height:45px;
  position:absolute;
  left:0;
  top:0;
  transition:linear .3s
}
.tekrevol_img07{
  background:url(../../images-new/sprite_small.png) no-repeat -8px -174px;
  width:35px;
  height:46px;
  margin-right:20px;
  float:left;
  margin-top:10px
}
.tekrevol_img08{
  background:url(../../images-new/sprite_small.png) no-repeat -8px -249px;
  width:37px;
  height:45px;
  margin-right:20px;
  float:left;
  margin-top:10px
}
.tekrevol_img09{
  background:url(../../images-new/sprite_small.png) no-repeat -8px -335px;
  width:49px;
  height:36px;
  margin-right:20px;
  float:left;
  margin-top:10px
}
.tekrevol_img10{
  background:url(../../images-new/sprite_small.png) no-repeat -8px -402px;
  width:51px;
  height:37px;
  margin-right:20px;
  float:left;
  margin-top:10px
}
.tekrevol_img11{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -1922px;
  width:49px;
  height:64px
}
.tekrevol_img12{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -2029px;
  width:37px;
  height:65px
}
.tekrevol_img13{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -2149px;
  width:67px;
  height:52px
}
.tekrevol_img14{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -2244px;
  width:57px;
  height:61px
}
.tekrevol_img15{
  background:url(../../images-new/sprite_small.png) no-repeat 0 -2360px;
  width:65px;
  height:47px
}
.collapsed #arrow-toggle{
  transition:linear .3s;
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0);
  transform:rotate(0)
}
#arrow-toggle{
  position:absolute;
  top:8px;
  right:0;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:linear .3s
}
#arrow-toggle .st0{
  fill:#fff
}
.abt-section{
  width:60%
}
.abt-section h3{
  color:#282526
}
.abt-section p{
  font-size:14px;
  font-family:revert;
  color:#282526;
  line-height:21px
}
.section--title{
  position:absolute;
  left:0;
  color:#2a2a2a;
  z-index:1;
  letter-spacing:1px;
  font-weight:600;
  font-size:12px;
  text-transform:uppercase;
  font-family:revert;
  transform:rotate(270deg);
  left:-90px;
  top:90px
}
.section--title div::after{
  background-color:#ee3824;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  right:-67px;
  width:50px
}
.home-service-cta{
  border:0 solid #ee3824;
  padding:0 35px;
  height:40px;
  line-height:40px;
  font-size:14px;
  letter-spacing:1px;
  text-decoration:none;
  color:#fff!important;
  font-weight:500;
  text-transform:uppercase;
  font-family:revert;
  transition:linear .3s;
  background:#ffa20a;
  background:linear-gradient(-90deg,#ffa20a 0,#fd4b0f 100%);
  border-radius:8px;
  display:inline-block
}
.home-service-cta:hover{
  text-decoration:none
}
.services-sec{
  padding:50px 0 57px;
  background:#282526;
  color:#ffff;
  z-index:9;
  position:relative
}
.services-list{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  position:relative;
  top:80px
}
.services-list .servics-item{
  flex-basis:49%;
  background:#fff;
  margin-bottom:20px;
  padding:50px 40px 50px;
  transition:linear .3s
}
.services-list .servics-item:hover{
  background:#f37a20;
  /* background:linear-gradient(-138deg,#f37a20 0,#ef5123 55%,#ee3824 100%);
   */
   background-color: 808080;
   transition:linear .3s
}
.services-list .servics-item:hover a,.services-list .servics-item:hover h4,.services-list .servics-item:hover p{
  color:#fff
}
.servics-item h4 a{
  font-size:15px;
  color:#282526;
  line-height:26px;
  padding-bottom:0;
  margin:8px 0 10px;
  font-family:revert;
  display:block;
  float:none;
  width:100%
}
.servics-item p{
  font-family:revert;
  font-weight:400;
  color:#061327;
  line-height:22px;
  font-size:14px
}
.servics-item a {
  display:inline-block;
  color:#545454;
  font-family:revert;
  text-transform:uppercase;
  letter-spacing:1px;
  float: right;
  font-size:12px;
  text-decoration:none;
}
.read--more{
  position:relative;
  left:5px;
  top:3px
}
.read--more .st0{
  fill:#ee3824
}
.servics-item:hover .read--more .st0{
  fill:#fff
}
.services-content p{
  line-height:22px;
  font-family:revert;
  font-size:14px;
  letter-spacing:1px
}
.services-content p a{
  color:#fff
}
.services--title{
  color:#fff;
  z-index:1;
  letter-spacing:1px;
  font-size:14px;
  text-transform:uppercase;
  font-family:revert;
  transform:rotate(0);
  padding-left:65px
}
.services--title div::before{
  background-color:#676767;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  left:0;
  width:50px
}
.services--title{
  margin:20px 0
}
.featured_in{
  background:#f5f7fa;
  position:relative;
  padding:50px 0 50px;
  z-index:0
}
.featured_in .container{
  position:relative
}
.tti-main{
  font-size:42px!important;
  color:#282526;
  font-family:revert;
  padding-top:50px;
  text-align:center;
  margin:auto
}
.featured-images img{
  transition:all .5s ease;
  transform:scale(1)
}
.featured-images img:hover{
  transition:all .5s ease;
  transform:scale(1.08)
}
.featured-in-title{
  position:absolute;
  right:0;
  color:#2a2a2a;
  z-index:1;
  letter-spacing:1px;
  font-weight:600;
  font-size:12px;
  text-transform:uppercase;
  font-family:revert;
  transform:rotate(270deg);
  top:40px
}
.featured-in-title div::after{
  background-color:#ee3824;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  right:-67px;
  width:50px
}
.testimonial-wrapper{
  background:#fff;
  padding:90px 0
}
button:focus{
  outline:0
}
div.triangleup{
  width:0;
  height:0;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-bottom:10px solid #fff;
  transform:rotate(90deg);
  margin-top:20px;
  margin-left:18px
}
.video-testimonials-bg:hover:after{
  content:"";
  background:#f37a20;
  background:linear-gradient(-138deg,rgba(243,122,32,.8) 0,rgba(239,81,35,.8) 55%,rgba(238,56,36,.8) 100%);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  transition:linear 3s
}
.video-testimonials-bg:hover .content-title{
  color:#fff;
  z-index:99
}
.video-testimonials-bg .content-title:before{
  content:"";
  position:absolute;
  top:20px;
  left:-60px;
  width:50px;
  height:2px;
  background:#ef4a24;
  display:block
}
.video-testimonials-bg:hover .content-title:before{
  background:#fff
}
.video-testimonials-bg:hover .play-btn{
  background:#fff;
  background:linear-gradient(-138deg,#fff 0,#fff 55%,#fff 100%);
  z-index:99
}
.video-testimonials-bg:hover div.triangleup{
  border-bottom:10px solid #f37a20
}
.our-testimonial{
  color:#2a2a2a;
  z-index:1;
  letter-spacing:1px;
  font-weight:600;
  font-size:12px;
  text-transform:uppercase;
  font-family:revert;
  padding-left:90px
}
.our-testimonial div::after{
  background-color:#ee3824;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  left:15px;
  width:70px
}
.home-test-slider .slick-next.slick-arrow{
  position:absolute;
  right:530px;
  background:0 0;
  border:0;
  font-size:0;
  transition:linear .3s;
  bottom:-50px
}
.home-test-slider .slick-next.slick-arrow:hover{
  right:520px;
  transition:linear .3s
}
.home-badges-slider .slick-next.slick-arrow{
  position:absolute;
  right:350px;
  background:0 0;
  border:0;
  font-size:0;
  transition:linear .3s;
  bottom:-50px
}
.home-badges-slider .slick-next.slick-arrow:hover{
  right:340px;
  transition:linear .3s
}
.home-badges-slider .slick-next.slick-arrow:before,.home-test-slider .slick-next.slick-arrow:before{
  background:url(../../images-new/arrow.svg) no-repeat!important;
  content:"";
  width:50px;
  height:13px;
  display:block;
  transform:rotate(180deg);
  cursor:pointer;
  outline:0
}
.home-badges-slider .slick-slide,.home-test-slider .slick-slide{
  outline:0
}
.home-test-slider .slick-prev.slick-arrow{
  position:absolute;
  right:600px;
  bottom:-50px;
  background:0 0;
  border:0;
  font-size:0;
  transition:linear .3s
}
.home-test-slider .slick-prev.slick-arrow:hover{
  right:610px;
  transition:linear .3s
}
.home-badges-slider .slick-prev.slick-arrow{
  position:absolute;
  right:420px;
  bottom:-50px;
  background:0 0;
  border:0;
  font-size:0;
  transition:linear .3s
}
.home-badges-slider .slick-prev.slick-arrow:hover{
  right:430px;
  transition:linear .3s
}
button:focus{
  outline:0
}
.home-badges-slider .slick-prev.slick-arrow:before,.home-test-slider .slick-prev.slick-arrow:before{
  background:url(../../images-new/arrow.svg) no-repeat!important;
  content:"";
  width:50px;
  height:13px;
  display:block;
  cursor:pointer;
  outline:0
}
.clients-sec h2{
  color:#282526;
  padding-top:50px;
  text-align:center
}
.clients-sec p{
  color:#282526;
  text-align:center
}
.brands img{
  width:auto;
  padding:10px 2.5%
}
.brands img:first-child{
  width:103px;
  opacity:.5
}
.clients-brand .container{
  position:relative
}
.brands img{
  width:200px
}
.brands img:nth-child(6){
  width:135px;
  margin-top:-10px
}
.brands img:last-child{
  width:180px
}
.brands img.logos{
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
  opacity:.5;
  transition:linear .3s
}
.brands img.logos:hover{
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
  opacity:1;
  transition:linear .3s
}
.featured-clients{
  position:absolute;
  color:#2a2a2a;
  z-index:1;
  letter-spacing:1px;
  font-weight:600;
  font-size:12px;
  text-transform:uppercase;
  font-family:revert;
  transform:rotate(270deg);
  right:0;
  top:55px
}
.featured-clients div::after{
  background-color:#ee3824;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  right:-67px;
  width:50px
}
.clients-brand{
  background:#f0f0f0;
  padding:70px 0
}
.col-20{
  width:19%;
  float:left;
  text-align:center;
  background-color:#f9f9f9;
  margin-right:1%;
  border-radius:5px;
  height:140px
}
.col-20 .title-comp{
  color:#282526;
  font-size:20px;
  font-family:revert;
  font-weight:600;
  line-height:1.1
}
.compatibality-boxes{
  margin-top:40px
}
.compatibality-boxes .col-20 .hover{
  opacity:0;
  transition:linear .3s;
  font-size:0
}
.compatibality-boxes .col-20 svg{
  opacity:1;
  transition:linear .3s
}
.compatibality-boxes .col-20:hover .hover{
  opacity:1;
  transition:linear .3s;
  line-height:normal;
  margin-top:20px;
  font-size:14px
}
.compatibality-boxes .col-20:hover svg{
  opacity:0;
  transition:linear .3s;
  visibility:hidden;
  height:0;
  margin:0;
  padding:0;
  line-height:0
}
.col-20 svg{
  width:80px;
  height:65px;
  margin:15px auto
}
.col-20:first-child svg,.col-20:nth-child(2) svg,.col-20:nth-child(3) svg{
  transition:linear .3s
}
.col-20:last-child svg{
  height:80px;
  margin-top:12px;
  margin-bottom:0;
  transition:linear .3s
}
.col-20:nth-last-child(2) svg{
  height:96px;
  margin-top:0;
  margin-bottom:0;
  width:100px;
  transition:linear .3s
}
.compatibality-boxes .col-20:hover .compatibality011{
  padding:10px 10px 10px
}
.compatibality-boxes .col-20:hover .h4{
  color:#ef5123
}
.home-compatibality{
  color:#2a2a2a;
  z-index:1;
  letter-spacing:1px;
  font-size:14px;
  text-transform:uppercase;
  font-family:revert;
  transform:rotate(0);
  padding-left:65px;
  position:relative
}
.error{
  color:#2a2a2a;
  font-size:12px;
  margin:10px 0 0 0;
  font-family:revert
}
.home-compatibality div::before{
  background-color:#ee3824;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  left:0;
  width:50px
}
.home-facts{
  color:#2a2a2a;
  z-index:1;
  letter-spacing:1px;
  font-size:14px;
  text-transform:uppercase;
  font-family:revert;
  transform:rotate(0);
  padding-left:65px;
  position:relative
}
.home-facts div::before{
  background-color:#ee3824;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  left:0;
  width:50px
}
.softwares{
  padding:70px 0
}
.facts-figure{
  background:#f7f7f7;
  padding:80px 0 230px
}
.facts_title{
  color:#282526;
  font-size:28px;
  font-family:revert;
  font-weight:600;
  line-height:1.4;
  margin-top:20px;
  margin-bottom:10px
}
.content-box{
  padding-right:50px
}
.employees{
  display:flex
}
.fact-number{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between
}
.fact-number .employees{
  flex-basis:48%;
  padding:20px 0
}
.fact-number .employees .counter-count{
  font-family:revert;
  font-size:50px;
  color:#ee3824;
  width:120px
}
.fact-number .employees .plus:after{
  content:"+";
  width:100px;
  height:20px
}
.fact-number .employees .employee-p{
  font-size:18px;
  font-family:revert;
  color:#282526
}
.fact-number .employees .counter-count1{
  font-family:revert;
  font-size:50px;
  color:#fe9131;
  width:130px
}
.facts-box{
  padding-right:50px
}
#myModal{
  background:#000000e0;
  z-index:99999999
}
#myModal .modal-content{
  background:0 0;
  padding:0;
  margin:0;
  border:0;
  height:70vh
}
#myModal .modal-dialog{
  max-width:700px
}
#myModal .modal-body{
  margin:0;
  border:0;
  padding:0
}
#myModal .modal-body iframe{
  margin:0;
  border:0;
  padding:0
}
#myModal .btn-close{
  text-align:center;
  margin:0;
  width:100%;
  margin-top:0;
  position:absolute;
  top:0;
  right:-100%;
  cursor:pointer
}
#myModal .btn-close span{
  background:#ee3824;
  border-radius:42px;
  color:#fff;
  font-size:12px;
  font-family:revert;
  border:0 solid #ee3824;
  width:20px;
  height:20px;
  display:inline-block;
  line-height:18px;
  text-align:center
}
.projects-wrapper {
  position:relative;
  overflow:hidden;
   background-color: #ffffff;
}
.mac-area-clip-inner{
  clip:rect(auto,auto,auto,auto);
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%
}
.mac-area-clip{
  position:relative;
  height:100vh
}
.mac-area{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  height:100%;
  padding-top:30px
}
.bg-primary1{
  background:linear-gradient(to right,#73cf36 0,#10b4dd 50%,#fff 50%,#fff 100%);
  position:relative;
  margin-left:-15px;
  margin-right:-15px
}
.bg-primary7{
  background:linear-gradient(to right,#ef4b51 0,#d72f35 50%,#fff 50%,#fff 100%);
  position:relative;
  margin-left:-15px;
  margin-right:-15px
}
.bg-primary6{
  background:linear-gradient(to right,#e73330 0,#ef4b23 20%,#ffc90a 50%,#fff 50%,#fff 100%);
  position:relative;
  margin-left:-15px;
  margin-right:-15px
}
.bg-primary3{
  background:linear-gradient(to right,#eb3740 0,#a3141a 50%,#fff 50%,#fff 100%);
  position:relative;
  margin-left:-15px;
  margin-right:-15px
}
.bg-primary2{
  background:linear-gradient(to right,#00b4e0 0,#0a5bc7 50%,#fff 50%,#fff 100%);
  position:relative;
  margin-left:-15px;
  margin-right:-15px
}
.bg-primary5{
  background:linear-gradient(to right,#009f98 0,#63c9bd 50%,#fff 50%,#fff 100%);
  position:relative;
  margin-left:-15px;
  margin-right:-15px
}
.bg-primary4{
  background:linear-gradient(to right,#151b28 0,#0b2254 50%,#fff 50%,#fff 100%);
  position:relative;
  margin-left:-15px;
  margin-right:-15px
}
.box-content .list_cat{
  list-style:none;
  padding:0;
  margin:30px 0;
  text-align:left
}
.box-content .list_cat li{
  background:#f5f7fa;
  border-radius:50px;
  padding:10px 15px;
  color:#282526;
  font-size:14px;
  line-height:18px;
  font-family:revert;
  display:inline-block;
  margin-right:8px
}
.box-content .content-boxx{
  color:#282526;
  margin-bottom:40px
}
.box-content img.amj-logo{
  width:110px!important;
  height:initial!important
}
.box-content img.self_logo{
  width:190px!important;
  height:initial!important
}
.box-content img.ether_logo{
  width:190px!important;
  height:initial!important
}
.box-content img.stop_vaping_logo{
  width:190px!important;
  height:initial!important
}
.mar-auto:after{
  margin-left:auto;
  margin-right:auto
}
.content-link{
  margin:20px 0;
  display:block
}
.content-link a{
  border:0 solid #ee3824;
  padding:0 50px;
  font-size:14px;
  letter-spacing:1px;
  text-decoration:none;
  color:#fff!important;
  font-weight:500;
  height:40px;
  line-height:40px;
  text-transform:uppercase;
  font-family:revert;
  transition:linear .3s;
  background:#ffa20a;
  background:linear-gradient(-90deg,#ffa20a 0,#fd4b0f 100%);
  border-radius:8px;
  box-shadow:0 5px 14.4px .6px rgba(238,56,38,.22);
  display:inline-block
}
.projects-in-title{
  position:absolute;
  left:0;
  color:#fff;
  z-index:1;
  letter-spacing:1px;
  font-weight:600;
  font-size:12px;
  text-transform:uppercase;
  font-family:revert;
  transform:rotate(270deg);
  top:105px
}
.projects-in-title div::after{
  background-color:#fff;
  content:"";
  height:2px;
  position:absolute;
  top:8px;
  right:-67px;
  width:50px
}
h2.tti-top{
  margin-bottom:40px;
  padding-top:20px;
  color:#2a2a2a;
  margin-top:0
}
.clients-sec h2.tti-top{
  margin-bottom:10px;
  margin-top:0
}
.home-tab h2.tti-top{
  margin-bottom:80px;
  margin-top:0
}
.featured_in h2.tti-top{
  text-align:center;
  margin-top:50px;
  margin-bottom:20px;
  color:#2a2a2a
}
.home-feature-slider{
  padding-top:30px;
  height:50px;
  padding-bottom:50px
}
.home-feature-slider .slick-slide{
  outline:0
}
.home-feature-slider .slick-slide img{
  padding-right:0;
  margin:auto
}
.home-test-slider .tst-sec{
  position:relative;
  width:370px;
  transition:linear .3s
}
.home-test-slider .play-icon{
  position:absolute;
  right:15px;
  bottom:15px;
  text-transform:capitalize
}
.home-test-slider p.desc-txt{
  color:#666;
  font-size:15px;
  font-family:revert;
  margin:10px 0;
  padding:0 5px 0 5px;
  line-height:22px;
  width:370px
}
.content-test{
  width:370px;
  height:85px;
  background:0 0;
  position:absolute;
  bottom:0;
  padding:15px 15px;
  opacity:1;
  transition:linear .3s
}
.tst-sec:hover:after{
  height:100%
}
.content-test,.home-test-slider .tst-sec:before{
  z-index:9
}
.content-test h4{
  color:#fff;
  font-size:24px;
  font-family:revert;
  margin:0 0 5px 0
}
.content-test p{
  color:#fff;
  font-size:16px;
  font-family:revert;
  margin:0;
  line-height:normal
}
.content-test p span{
  color:#fff;
  font-size:14px;
  font-family:revert;
  margin:0;
  line-height:normal
}
h1{
  font-family:revert;
  line-height:55px;
  font-size:42px
}
.cookie{
  display:none;
  position:fixed;
  width:100%;
  border:none;
  background-color:rgba(0,0,0,.85);
  bottom:0;
  z-index:2147483644;
  min-height:30px;
  color:#fff;
  font-size:14px;
  font-family:revert;
  padding:0;
  line-height:30px;
  transition:all ease 1.5s;
  padding:10px 0
}
.cookieok{
  background:#f04824;
  background:linear-gradient(-90deg,#f04824 0,#f57629 100%);
  text-align:center;
  background-size:100% 100%;
  font-size:12px;
  text-transform:uppercase;
  font-family:revert;
  letter-spacing:3px;
  color:#fff;
  border:0;
  margin-top:0;
  padding:2px 10px;
  border-radius:5px;
  cursor:pointer
}
.cookie p{
  margin-bottom:0
}
.badges-section{
  padding:50px 0
}
.badges-section .slick-slide{
  outline:0
}
.badges-section .item-badge{
  background:#fff;
  text-align:center;
  margin:20px;
  padding:40px 20px;
  box-shadow:3px 4px 15px 0 rgba(40,37,38,.2);
  transition:linear .3s;
  border-radius:15px
}
.badges-section .item-badge:hover{
  box-shadow:3px 4px 15px 0 rgba(40,37,38,.35);
  transition:linear .3s;
  margin:12px 20px
}
.badges-section .item-badge img{
  margin:auto;
  width:227px;
  height:150px
}
.badges-section .item-badge .badge-content{
  height:100px;
  margin-top:20px
}
.badges-section .item-badge a{
  color:#061327;
  text-decoration:none;
  outline:0
}
.badges-section .item-badge .badge-content h5{
  font-size:17px;
  line-height:normal;
  font-family:revert;
  color:#061327
}
.badges-section .item-badge .badge-content p{
  font-size:15px;
  font-family:revert;
  line-height:22px;
  color:#061327
}
.badges-section .slick-track .slick-slide:nth-of-type(odd){
  margin-top:0
}
.badges-section .slick-track .slick-slide:nth-of-type(even){
  margin-top:50px
}
#test{
  margin:auto;
  text-align:center;
  height:200px;
  padding-top:90px
}
.show-dekstop{
  display:block;
  margin:auto
}
.show-mobile{
  display:none
}
.main{
  width:73%;
  margin-left:auto
}
.bg-modal .close span{
  display:block;
  margin-top:-6px
}
.btns a{
  padding:10px 35px;
  font-size:12px;
  font-family:revert,sans-serif;
  line-height:26px;
  margin-bottom:20px;
  color:#fff!important;
  background:#ffa20a;
  background:linear-gradient(-45deg,#ffa20a 0,#fd4b0f 100%);
  text-transform:uppercase;
  letter-spacing:1px;
  border-radius:10px;
  text-decoration:none;
  cursor:pointer;
  z-index:99;
  position:relative
}
.technologies{
  background:#f5f7fa;
  padding:50px 0
}
.technologies .tech-item{
  margin-top:30px
}
.technologies .tech-item img.techimg{
  height:130px;
  margin:0 auto 20px
}
.slick-initialized .slick-slide{
  outline:0
}
.technologies .tech-item h5{
  font-size:20px;
  font-family:revert;
  color:#282526;
  line-height:24px
}
@media (min-width:1920px) and (max-width:5000px){
  .slide3 .main-slide3{
      margin-left:600px;
      right:unset
  }
  .box-content .content-boxx{
      width:75%
  }
}
@media (min-width:1200px) and (max-width:1500px){
  .slide4 .main-slide4{
      background-size:120%;
      background-position:top;
      position:absolute;
      right:-25px;
      top:25px
  }
  .slide4 .dubai-icon2{
      position:absolute;
      top:400px;
      left:-50px
  }
  .slide4 .dubai-icon1{
      position:absolute;
      bottom:300px;
      left:-400px
  }
  .home-badges-slider:before{
      width:285px
  }
  .img--projects img{
      width:90%
  }
  .mac-area{
      padding-top:65px
  }
  .projects-in-title{
      left:0
  }
  .about-tab .card:before{
      width:50px;
      left:-70px
  }
  .badges-section .item-badge{
      padding:40px 15px
  }
  .tekrevol-slider .slick-dots{
      left:25px
  }
  .tekrevol-slider .slick-slide{
      overflow:hidden
  }
  .home-badges-slider .slick-next.slick-arrow{
      right:100px
  }
  .home-badges-slider .slick-next.slick-arrow:hover{
      right:90px
  }
  .home-badges-slider .slick-prev.slick-arrow{
      right:170px
  }
  .home-badges-slider .slick-prev.slick-arrow:hover{
      right:180px
  }
  .picturePick_awards img{
      width:117px!important
  }
}
@media (min-width:901px) and (max-width:1199px){
  .img-responsive.lazy{
      width:450px;
      height:451px
  }
  .tekimg.lazy{
      width:100%;
      height:463px
  }
  .abtimg.lazy{
      width:350px;
      height:327px
  }
  .tek-jou-img{
      text-align:center
  }
  .slide4 .main-slide4{
      background-size:110%;
      background-position:right;
      position:absolute;
      right:0;
      top:0;
      z-index:9999;
      visibility:visible;
      overflow:visible
  }
  .slide4 .dubai-icon1{
      position:absolute;
      bottom:240px;
      left:-400px
  }
  .slide4 .dubai-icon2{
      position:absolute;
      top:500px;
      left:-100px
  }
  .tekrevol-slider .slick-dots{
      bottom:20px;
      width:auto;
      left:20px
  }
  .tekrevol-slider ul.slick-dots li{
      list-style:none;
      height:30px;
      display:inline-block;
      width:30px
  }
  .tekrevol-slider ul.slick-dots li.slick-active:before{
      margin-left:-21px
  }
  .slide1 .main-slide1{
      left:0
  }
  .slide3 .main-slide3{
      background-size:140%;
      background-position:0 0
  }
  .about-tab:before{
      display:none
  }
  .about-tab{
      background:#fff;
      background:linear-gradient(-90deg,#fff 35%,#ee3824 35%)
  }
  .services-content{
      padding:50px 0 0 20px
  }
  .home-badges-slider:before{
      display:none
  }
  .projects-in-title{
      left:-20px
  }
  .home-feature-slider{
      overflow:hidden
  }
   .services-list .servics-item{
      padding:40px 20px 40px
  }
  .servics-item h4 a{
      font-size:20px
  }
  .tekrevol-slider .slick-dots{
      left:25px
  }
  .picturePick_awards img{
      width:115px!important
  }
}
@media (min-width:568px) and (max-width:900px){
  .slide5 .event_date h2{
      font-size:25px;
      line-height:29px
  }
  .img-responsive.lazy{
      width:273px;
      height:278px
  }
  .side-bars{
      display:none
  }
  .tekimg.lazy{
      width:300px;
      height:297px
  }
  .abtimg.lazy{
      width:312px;
      height:292px
  }
  .tek-jou-img{
      text-align:center
  }
  .about-tab:before,.latest-blog,.main-slide1,.main-slide2,.main-slide3,.main-slide4,.tekrevol-slider .slick-dots{
      display:none!important;
      width:0!important;
      height:0!important;
      margin:0;
      padding:0;
      visibility:hidden;
      opacity:0;
      background-image:none!important
  }
   .copyright-section {
      text-align:center;
  }
  .menu-footer-menu-container{
      margin-bottom:30px
  }
  .img--tab{
      text-align:center;
      margin-bottom:20px
  }
  .home-tab .tab{
      float:left;
      width:25%;
      position:relative;
      left:18%;
      top:27px
  }
  .home-tab .tab:before{
      left:20px
  }
  .home-tab .tabcontent{
      width:75%;
      padding:15px 0 0 30px
  }
  .tek-jou-img{
      text-align:center
  }
  .abt-section{
      width:75%
  }
  .mac-area{
      padding-top:45px
  }
  .about-tab{
      background:linear-gradient(-90deg,#fff 40%,#ee3824 40%)
  }
  .about-tab .card{
      height:60px
  }
   .home-tab{
      padding:50px 0
  }
   .services-sec .point-sec{
      order:2
  }
  .services-sec .text-sec{
      order:1
  }
  .featured-in-title{
      right:-30px;
      top:45px
  }
  .projects-in-title{
      left:-25px
  }
  .testimonial-slider .slick-next.slick-arrow{
      left:-100px
  }
  .testimonial-slider .slick-prev.slick-arrow{
      right:-100px
  }
  .col-20{
      width:32%;
      margin-bottom:1%;
      margin-right:1%
  }
  .content-box{
      padding-right:10px
  }
  .box-content .list_cat li{
      padding:5px 10px
  }
   .content-link a{
      padding:0 25px
  }
  .facts-box{
      padding-right:10px
  }
  .fact-number .employees .counter-count,.fact-number .employees .counter-count1{
      font-size:30px;
      width:70px
  }
  .fact-number .employees .employee-p{
      font-size:14px
  }
  .facts-figure{
      background:#f7f7f7;
      padding:80px 0 20px
  }
  .home-badges-slider:before{
      display:none
  }
  .badges-section .item-badge{
      margin:10px;
      padding:20px 15px
  }
  .technologies .tech-item img.techimg{
      height:100px;
      margin-bottom:20px
  }
  .technologies .tech-item h5{
      font-size:16px;
      line-height:18px
  }
  .picturePick_awards img{
      width:95px!important
  }
}
@media (min-width:0px) and (max-width:567px){
  .slide5 .gitex_logo{
      margin-bottom:15px;
      width:200px
  }
  .slide5 p{
      font-size:15px
  }
  .slide5 .event_date h2{
      font-size:21px;
      line-height:27px;
      margin-bottom:20px
  }
  .collapse_wrap{
      display:block
  }
  .content-tabs{
      display:none
  }
  .img-responsive.lazy{
      width:273px;
      height:278px
  }
  .tekimg.lazy{
      width:300px;
      height:297px
  }
  .abtimg.lazy{
      width:100%;
      height:292px
  }
  .tek-jou-img{
      text-align:center
  }
  .tek-jou-img img{
      width:300px
  }
  #exampleModalCenter .form-section{
      padding:50px 0 0
  }
  .about-tab:before,.latest-blog,.main-slide1,.main-slide2,.main-slide3,.main-slide4,.tekrevol-slider .slick-dots{
      display:none!important;
      width:0!important;
      height:0!important;
      margin:0;
      padding:0;
      visibility:hidden;
      opacity:0
  }
  .featured-clients,.featured-in-title,.projects-in-title{
      display:none
  }
  .img--tab{
      text-align:center
  }
  .img--tab img{
      position:relative;
      left:0;
      top:0
  }
  .home-tab .tab button span{
      left:0;
      position:unset;
      display:inline-block;
      margin-right:10px
  }
  .home-tab .tab{
      float:left;
      text-align:left;
      position:relative;
      left:0;
      width:100%
  }
  .content-tabs{
      position:relative;
      left:0;
      top:40px
  }
  .home-tab .tabcontent{
      width:100%;
      padding:0
  }
  .home-tab .tab button{
      height:40px;
      width:100%;
      border-radius:8px;
      margin-bottom:10px;
      font-size:0;
      line-height:43px
  }
  .home-tab .tabcontent p{
      font-size:16px;
      line-height:26px
  }
  .home-tab .tab:before{
      display:none
  }
  .home-tab .tab button.active span{
      color:#fff
  }
  .img--tab img{
      width:300px;
      position:relative;
      left:0;
      top:0
  }
  .about-tab{
      background:#fff;
      background:linear-gradient(180deg,#fff 30%,#ee3824 30%)
  }
  .abt-section{
      width:100%;
      margin-bottom:40px;
      padding-bottom:40px
  }
  .about-tab h2{
      padding-top:30px
  }
  .about-tab h2:after{
      width:80px;
      top:50px
  }
  .about-tab .card{
      background-color:transparent;
      border:0;
      padding-left:70px;
      height:85px;
      margin-bottom:20px;
      position:relative
  }
  .about-tab .card-header{
      width:200px
  }
  .about-tab .card-header .btn-link{
      white-space:initial
  }
   .services-sec .point-sec{
      order:2
  }
  .services-sec .text-sec{
      order:1
  }
  .services-content{
      padding:0
  }
   .services-list .servics-item{
      flex-basis:100%;
      padding:30px 20px 30px
  }
  .tti-main{
      font-size:48px!important;
      white-space:initial;
      line-height:normal
  }
  .bg-primary1{
      background:linear-gradient(to bottom,#73cf36 0,#10b4dd 40%,#fff 40%,#fff 100%)
  }
  .bg-primary6{
      background:linear-gradient(to bottom,#e73330 0,#ef4b23 18%,#ffc90a 38%,#fff 38%,#fff 100%)
  }
  .bg-primary7{
      background:linear-gradient(to bottom,#ef4b51 0,#d72f35 40%,#fff5 40%,#fff 100%)
  }
  .bg-primary3{
      background:linear-gradient(to bottom,#5ebb65 0,#188c3f 40%,#fff 40%,#fff 100%)
  }
  .bg-primary2{
      background:linear-gradient(to bottom,#00b4e0 0,#0a5bc7 40%,#fff 40%,#fff 100%)
  }
  .bg-primary5{
      background:linear-gradient(to bottom,#a413fa 0,#5d0bff 40%,#fff 40%,#fff 100%)
  }
  .bg-primary4{
      background:linear-gradient(to bottom,#3abcf4 0,#527be4 40%,#fff 40%,#fff 100%)
  }
  .mac-area{
      position:relative;
      width:100%;
      top:0;
      left:0;
      height:100%;
      padding-top:0
  }
  .box-content .list_cat{
      margin:15px 0
  }
  .box-content{
      margin-top:20px
  }
  .box-content .list_cat li{
      padding:7px 8px;
      margin-right:2px;
      font-size:12px
  }
   .content-link{
      margin:10px 0;
      display:block
  }
   .content-link a{
      padding:0 25px
  }
   .testimonial-slider .slick-slide img{
      height:auto
  }
  .video-testimonials-bg .content-title:before{
      display:none
  }
  .testimonial-slider .content-title{
      position:absolute;
      bottom:10px;
      left:10px
  }
  .testimonial-slider .content-title .h3{
      font-size:18px;
      margin:0
  }
  .testimonial-slider .content-title p{
      font-size:12px;
      margin:0
  }
  .home-test-slider .tst-sec{
      position:relative;
      width:100%
  }
  .home-test-slider p.desc-txt{
      width:100%
  }
  .play-btn{
      width:30px;
      height:30px;
      right:10px;
      bottom:20px
  }
  div.triangleup{
      border-left:5px solid transparent;
      border-right:5px solid transparent;
      border-bottom:7px solid #fff;
      margin-top:12px;
      margin-left:12px
  }
  .video-testimonials-bg:hover div.triangleup{
      border-bottom:7px solid #f37a20
  }
  .testimonial-slider .slick-prev.slick-arrow{
      right:0;
      bottom:-30px;
      top:unset
  }
  .testimonial-slider .slick-next.slick-arrow{
      left:73%;
      bottom:-31px;
      top:unset
  }
  .testimonial-slider .slick-next.slick-arrow:before,.testimonial-slider .slick-prev.slick-arrow:before{
      width:30px;
      height:9px
  }
  .col-20{
      width:49%;
      margin-right:1%;
      margin-bottom:1%
  }
  .softwares{
      padding:70px 0 0
  }
  .fact-number .employees{
      flex-basis:100%
  }
  .facts-figure{
      background:#f7f7f7;
      padding:30px 0 30px
  }
  .facts-box{
      padding-right:0
  }
  .home-test-slider .slick-slide img{
      display:block;
      margin:auto
  }
  .home-badges-slider .slick-next.slick-arrow,.home-test-slider .slick-next.slick-arrow{
      right:150px
  }
  .home-badges-slider .slick-next.slick-arrow:hover,.home-test-slider .slick-next.slick-arrow:hover{
      right:140px
  }
  .home-badges-slider .slick-prev.slick-arrow,.home-test-slider .slick-prev.slick-arrow{
      right:220px
  }
  .home-badges-slider .slick-prev.slick-arrow:hover,.home-test-slider .slick-prev.slick-arrow:hover{
      right:230px
  }
  .home-badges-slider:before{
      display:none
  }
  .badges-section .slick-track .slick-slide:nth-of-type(even){
      margin-top:0
  }
  .side-bars.show-side{
      display:none
  }
  #myModal .btn-close{
      position:absolute;
      bottom:50px;
      right:0
  }
  .tekrevol-slider{
      height:100vh;
      position:relative
  }
  .badges-section{
      margin-bottom:30px
  }
  .home-tab{
      padding:20px 0 50px
  }
  .home-tab h2.tti-top{
      margin-bottom:20px
  }
   .services-sec{
      padding:20px 0 20px;
      height:100%
  }
   .services-list{
      top:20px
  }
  .featured_in{
      padding:50px 0 20px
  }
  .featured_in h2.tti-top{
      margin-top:0;
      margin-bottom:0
  }
  .img--projects .img-fluid{
      height:auto;
  }
  .box-content{
      margin:15px 0
  }
  .box-content .content-boxx{
      font-size:16px;
      line-height:26px;
      margin-bottom:10px
  }
  .testimonial-wrapper{
      background:#fff;
      padding:00px 0 50px
  }
  .logo_wrap{
      display:block!important
  }
  .picturePick_awards{
      margin:18px 0!important
  }
  .picturePick_awards img{
      width:117px!important
  }
}
@media (min-width:401px) and (max-width:567px){
  .collapse_wrap{
      display:block
  }
  .content-tabs{
      display:none
  }
  .home-test-slider .tst-sec{
      position:relative;
      width:370px;
      margin:auto
  }
  .home-test-slider p.desc-txt{
      width:370px;
      margin:auto
  }
  input.cookieok{
      font-size:12px;
      border-radius:5px;
      height:33px;
      line-height:33px;
      padding:0 15px
  }
  .cookie p{
      font-size:11px;
      line-height:17px
  }
}
@media (min-width:0px) and (max-width:370px){
  .collapse_wrap{
      display:block
  }
  .content-tabs{
      display:none
  }
  .home-test-slider .play-icon{
      position:absolute;
      right:60px;
      bottom:10px
  }
  .bg-primary1{
      background:linear-gradient(to bottom,#73cf36 0,#10b4dd 38%,#fff 38%,#fff 100%)
  }
  .bg-primary6{
      background:linear-gradient(to bottom,#e73330 0,#ef4b23 14%,#ffc90a 34%,#fff 33%,#fff 100%)
  }
  .bg-primary7{
      background:linear-gradient(to bottom,#ef4b51 0,#d72f35 38%,#fff 38%,#fff 100%)
  }
  .bg-primary3{
      background:linear-gradient(to bottom,#5ebb65 0,#188c3f 38%,#fff 38%,#fff 100%)
  }
  .bg-primary2{
      background:linear-gradient(to bottom,#00b4e0 0,#0a5bc7 38%,#fff 38%,#fff 100%)
  }
  .bg-primary5{
      background:linear-gradient(to bottom,#a413fa 0,#5d0bff 38%,#fff 38%,#fff 100%)
  }
  .bg-primary4{
      background:linear-gradient(to bottom,#3abcf4 0,#527be4 38%,#fff 38%,#fff 100%)
  }
  .tekrevol-slider .slide4{
      background-image:linear-gradient(135deg,#0d1326 20%,#b92a1a 100%)
  }
}
@media (max-width:667px) and (min-width:0px){
  .bg-modal h3{
      font-size:18px
  }
  .bg-modal h4{
      color:#fff;
      font-size:17px;
      line-height:21px
  }
  .bg-modal ul li{
      width:100%;
      margin-bottom:15px
  }
  .bg-modal ul li p{
      font-size:13px
  }
  .bg-modal{
      background-position:-24px 0
  }
  .main{
      width:60%;
      margin-left:auto
  }
  .bg-modal ul{
      padding:0;
      margin:10px 0 10px
  }
  .tekrevol-slider .slide4{
      background-image:linear-gradient(135deg,#0d1326 20%,#b92a1a 100%)
  }
  .tekrevol-slider .banner-tit,.tekrevol-slider h1{
      line-height:42px;
      font-size:32px
  }
}
@media (max-width:1199px){
  .img--projects img{
      width:90%
  }
  .box-content img.amj-logo{
      width:90px!important
  }
  .box-content .list_cat li{
      padding:5px 7px
  }
  .box-content img.ether_logo,.box-content img.self_logo,.box-content img.stop_vaping_logo{
      width:150px!important
  }
}
@media (max-width:767px){
  .img--projects img{
      width:60%
  }
  .mac-area{
      padding-top:0;
      position:static
  }
  .mac-area-clip{
      height:auto
  }
  .mac-area-clip-inner{
      height:auto;
      position:static;
      clip:inherit
  }
  .bg-primary1,.bg-primary2,.bg-primary3,.bg-primary4,.bg-primary5,.bg-primary6,.bg-primary7{
      background:0 0!important
  }
  .bg-primary3 .img--projects{
      background:linear-gradient(to right,#eb3740 50%,#a3141a 100%)
  }
  .bg-primary1 .img--projects{
      background:linear-gradient(to right,#73cf36 50%,#10b4dd 100%)
  }
  .bg-primary7 .img--projects{
      background:linear-gradient(to right,#ef4b51 50%,#d72f35 100%)
  }
  .bg-primary6 .img--projects{
      background:linear-gradient(to right,#e73330 50%,#ef4b23 100%)
  }
  .bg-primary2 .img--projects{
      background:linear-gradient(to right,#00b4e0 50%,#0a5bc7 100%)
  }
  .bg-primary5 .img--projects{
      background:linear-gradient(to right,#009f98 50%,#63c9bd 100%)
  }
  .bg-primary4 .img--projects{
      background:linear-gradient(to right,#151b28 50%,#0b2254 100%)
  }
  .box-content{
      padding:40px 0 0
  }
   .content-link{
      margin:20px 0 50px
  }
  .img--projects img{
      width:85%
  }
}
.content-link1 a{
   font-size: 14px;
   letter-spacing: 1px;
   text-decoration: none;
   color: #000;
   font-weight: 500;
   text-transform: uppercase;
   font-family: revert;
   transition: linear .3s;
   border: 2px solid #6c757d;
   border-radius: 35px;
   height: 40px;
   line-height: 36px;
   padding: 0px 30px;
   cursor: pointer;
   margin-top: 23px;
   text-align: center;
}
.content-link1 a:hover{background: #ff4246;color: #282828 !important;}
.content-link2 a{
   font-size: 14px;
   letter-spacing: 1px;
   text-decoration: none;
   color: rgb(255, 255, 255)!important;
   font-weight: 500;
   text-transform: uppercase;
   font-family: revert;
   transition: linear .3s;
   border: 2px solid #ff4246;
   border-radius: 35px;
   height: 40px;
   line-height: 40px;
   padding: 11px 49px;
   cursor: pointer;
   margin-top: 23px;
   text-align: center;
}
